<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
      <ion-segment-button>
        <ion-label>Posts</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Top Posts</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'ion-sb-0'" lines="none">
      <ion-item *ngFor="let post of posts">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <!-- <ion-item> -->
              <div class="header">
                <div>
                  <ion-avatar>
                    <img
                      src="http://res.cloudinary.com/hassanharga/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}" />
                  </ion-avatar>
                </div>
                <div>
                  <h2 class="username">{{post.username}}</h2>
                  <p class="date">{{post.created | date: 'dd/MM/yyyy'}}</p>
                  <p class="date" *ngIf="post.user && post.user.city">{{post.user.city}},{{post.user.country}}</p>
                </div>
              </div>
              <!-- </ion-item> -->
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="post-text">
              <p>{{post.post}}</p>
            </div>
            <div *ngIf="post.imgId && post.imgVersion">
              <img src="http://res.cloudinary.com/hassanharga/image/upload/v{{post.imgVersion}}/{{post.imgId}}"
                alt="post-image">
            </div>
          </ion-card-content>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-button (click)="likePost(post)">
                <ion-icon slot="start" name="thumbs-up"></ion-icon>
                <div>{{post.totalLikes}}</div>
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-button (click)="openCommentBox(post)">
                <ion-icon slot="start" name="text"></ion-icon>
                <div>{{post.comments.length}}</div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'ion-sb-1'" lines="none">
      <ion-item *ngFor="let post of topPosts">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <!-- <ion-item> -->
              <div class="header">
                <div>
                  <ion-avatar>
                    <img
                      src="http://res.cloudinary.com/hassanharga/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}" />
                  </ion-avatar>
                </div>
                <div>
                  <h2 class="username">{{post.username}}</h2>
                  <p class="date">{{post.created | date: 'dd/MM/yyyy'}}</p>
                  <p class="date" *ngIf="post.user && post.user.city">{{post.user.city}},{{post.user.country}}</p>
                </div>
              </div>
              <!-- </ion-item> -->
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="post-text">
              <p>{{post.post}}</p>
            </div>
            <div *ngIf="post.imgId && post.imgVersion">
              <img src="http://res.cloudinary.com/hassanharga/image/upload/v{{post.imgVersion}}/{{post.imgId}}"
                alt="post-image">
            </div>
          </ion-card-content>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-button (click)="likePost(post)">
                <ion-icon slot="start" name="thumbs-up"></ion-icon>
                <div>{{post.totalLikes}}</div>
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-button (click)="openCommentBox(post)">
                <ion-icon slot="start" name="text"></ion-icon>
                <div>{{post.comments.length}}</div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>