<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class='ion-padding  sign' >
  <!-- <h1>login Page</h1>
  <ion-button (click)="registerPage()">
    Register Page
  </ion-button> -->
  <div class="ion-padding ion-margin-bottom ">
    <div  class="logo">
      <img src="http://placehold.it/50x50" />
    </div>
    <ion-list>
      <ion-item class="ion-margin-bottom">
        <ion-icon name="mail" color="primary"></ion-icon>
        <ion-input type="text" placeholder="username"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-icon name="lock" color="primary"></ion-icon>
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
      <ion-button  expand="full" class="login" (click)="login()" >
        Login
      </ion-button>
      <p>
        <ion-button expand="full" fill='clear' (click)="registerPage()" class="signup">
          Sign Up
        </ion-button>
      </p>
    </ion-list>
  </div>
</ion-content>
